* 
{
  margin: 0;
}
.app 
{
  background-color: #fafafa;
}
.app__heading 
{
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  padding: 20px;
  object-fit: contain;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
}
.app__headerImage 
{
  height: 70px;
}
.app__signup 
{
  display: flex;
  flex-direction: column;
}